*{
    margin: 0;
    padding: 0;
    font-family: Open Sans,Arial,sans-serif;
}
body{
    overflow-x: hidden;
}
h3 h2 h1{
    font-family: 'IBM Plex Sans Condensed',Helvetica,Arial,Lucida,sans-serif;
}
.top-bar{
    background-color: #2EA3F2;

}
.top-bar i{
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin-left: 13px;
    padding: 10px 0 10px;
    position: relative;
}
.navbar-nav a{
    font-weight: bold;
    font-size: 15px;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    padding-top: 35px;
    padding-bottom: 35px;
}
.navbar-nav a:link{
    color: rgb(0, 0, 0);
    
}
.navbar-nav a:hover{
    color: rgb(39, 35, 35);
    
}
.navbar-nav a:active{
    color: #008706;
    
}
.first-row{
    padding: 20px 20px 10px 20px;
    justify-content: center;
    justify-items: center;
}
.row-container{

    text-align: center;
    padding: 20px;
}
.first-row .row-img{
    padding: 20px;
}

.first-row h3{
    font-family: 'IBM Plex Sans Condensed',Helvetica,Arial,Lucida,sans-serif;
    font-size: 22px;
    font-weight: bold;
    
}
.first-row p{
    color: #666;
    font-size: 16px;
    padding: 0px 20px 0px 20px;
    
}
.third-container{
    margin-top: 25px;
    padding: 20px;
}
.third-container-innerbox{
    
}
.third-container img{
    width: 500px;
    text-align: center;    

}
.third-container-innerbox h2{
    font-size: 40px;
    font-weight: bold;
    padding: 20px 25px 10px 25px;


}
.third-container-innerbox p{
    text-align: justify;
    color: #666;
    font-size: 16px;
    padding: 20px 25px 10px 25px;
}
.fourth-container-main{
    background-image: url("img/dot-pattern-1-1.jpg");
}
.fourth-container-innerbox{
    text-align: center;
    margin-top: 50px;
}